*{
    font-family: Arial, Helvetica, sans-serif
}

#headline{
    text-align: center;
    margin-top: 1em;
}

#headline h3{
    color:#777;
    margin-left:20%;
    margin-right:20%;
    font-style: italic;
}

#line-chart-all{
    float:right;
    width:50%;
}

button{
    width:10em;
    padding:0.3em;
    font-size:15px;
    cursor:pointer;
    margin-top: 8%;
    border-radius: 0.5em;
    -webkit-transition-duration: 0.2s; 
    transition-duration: 0.2s;
        
}
button:hover{
    background-color: #fff;
}

#show_freq{
    margin-left:29%;
}

#show_percentage{
    margin-left:5%;
}

#line-chart{
    margin-top:5%;
    margin-left:8%;
}

.line{
	fill:none;
    stroke-width: 2;
}

.x-axis path,
.x-axis line,
.y-axis path,
.y-axis line{
	fill: none;
	stroke:black;
	stroke-width: 1;
}

#control-bar{
    width:80%;
    float:right;
}
#control-bar h3{
    margin-left:45%;
    margin-top:5%;
}
#year-slider{
    width:50%;
    margin-left:45%;
    margin-top:1%;
}

#shot-chart-container {
    float:left;
    width:45%;
    margin-top: -13%;
    margin-left: 3%;
}
#shot-chart-container svg {
    stroke-width: 0.2; }

#shot-chart-container .shot-chart {
    display: block;
    margin-left: 10%;}

.d3-slider {
    position: relative;
    font-size: 1.1em;
    border: 1px solid #aaaaaa;
    z-index: 2;
}

.d3-slider-horizontal {
    height: .8em;
}  

.d3-slider-vertical {
    width: .8em;
    height: 100px;
}      

.d3-slider-handle {
    position: absolute;
    width: 1.2em;
    height: 1.2em;
    border: 1px solid #d3d3d3;
    border-radius: 4px;
    background: #eee;
    background: linear-gradient(to bottom, #eee 0%, #ddd 100%);
    z-index: 3;
}

.d3-slider-handle:hover {
    border: 1px solid #999999;
}

.d3-slider-horizontal .d3-slider-handle {
    top: -.3em;
    margin-left: -.6em;
}

.d3-slider-axis {
    position: relative;
    z-index: 1;    
}

.d3-slider-axis-bottom {
    top: .8em;
}

.d3-slider-axis-right {
    left: .8em;
}

.d3-slider-axis path {
    stroke-width: 0;
    fill: none;
}

.d3-slider-axis line {
    fill: none;
    stroke: #aaa;
}

.d3-slider-axis text {
    font-size: 11px;
}

.d3-slider-vertical .d3-slider-handle {
    left: -.25em;
    margin-left: 0;
    margin-bottom: -.6em;      
}

.d3-tip{
    line-height: 1;
    font-weight: bold;
    padding: 0.9em;
    background: rgba(48, 48, 48, 0.8);
    color: #fff;
    width:13em;
    border-radius: 1em;
}

#line-tip{
    width:12em;
}

num_prop{
    float: right;
}
prop{
    float:left;
}

#foot_left{
    width:55%;
    float:left;
    margin-left:2%;
}
#foot_right{
    width:40%;
    float:right;
}

li{
    font-family: 'Times New Roman', Times, serif;
}

#remark{
    width:80%;
    float:left;
    margin-top: -3%;
    margin-left:3.5%;
}

#remark h4{
    font-family: 'Times New Roman', Times, serif;
    font-weight: normal;
    color: #777;
}